.products {
  padding: 80px 96px 96px;
  padding-right: 32px;
  text-align: center;
  background-color: $white;
}
.product-item {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 378px;
  margin-right: 64px;
  margin-bottom: 80px;
  padding-left: 25px;
  padding-right: 25px;
  border: 6px solid $light-grey;
  vertical-align: top;
  background-color: $light-grey;
  cursor: pointer;
  &.active {
    border: 6px solid $sand;
    border-radius: 3px;
  }
  img {
    display: inline-block;
    max-height: 250px;
    max-width: 200px;
    object-fit: contain;
  }
  p {
    font-size: 16px;
    color: $black;
  }
}
.product-item-option-wrapper {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  text-align: left;
}
.product-item-option {
  position: relative;
  display: inline-block;
  color: $dark-grey;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: middle;
  &.chevron {
    padding-right: 20px;
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      margin: auto;
      width: 12px;
      height: 8px;
      background: url(../../assets/icons/chevron-down-small.svg) no-repeat center;
      background-size: contain;
    }
  }
  &:hover {
    color: $sand;
  }
}
.product-item-info {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 50px;
}
.product-item-info-name {
  float: left;
  color: $sand;
  font-size: 18px;
  text-transform: uppercase;
}
.product-item-info-price {
  float: right;
  color: $dark-grey;
  font-size: 22px;
}
